
.jumbotron{
 
    background-image: url(ima.jpg);
    height: 100vh;
    padding-bottom: 0px;
    padding-top: 0px;
   
    height: fit-content;
    
    
   }
   .navbar {
      background-color: #722F37;
      
   
   }
   .navbar .nav-item .nav-link {
       color:pink;
   }
    .btn .btn-outline-danger:hover {
       cursor: pointer;
       background: #FA6742;
   }
   div#css{
       color: #722F37;
   }
   .blockquote{
       background-image: url(ima.jpg);
   }
   div#wer{
       padding-top: 60px;
        font-size:medium;
   }
   p#ani {
       padding: 0px 20px 0px 0px;
       width: 200px;
       height: 50px;
       transition: width 0.8s;
     }
     
   p#ani:hover {
       width: 600px;
     
      
      
       
   }
   button#butt{
       background-color:pink;
       color: rgb(34, 18, 20);
   }
   button#butt:hover{
       background-color: rgba(184, 54, 76, 0.37);
   }
   
   body { color: #ccc }
   .footer-widget p {
       margin-bottom: 27px;
   }
   p {
       font-size: 16px;
       color:white;
   }
   
      .animate-border {
     display: block;
     width: 155px;
     height: 5px;
     background: #FA6742; }
   
   .animate-border:after {
     position: absolute;
     content: "";
     width: 35px;
     height: 5px;
     border-left: 10px solid #fff;
     -webkit-animation: animborder 2s linear infinite;
     animation: animborder 2s linear infinite; }
   
   
   
   
   
   .footer {
     padding: 75px 0 0;
     background-color:  #722F37;
     position: relative;
     z-index: 2; }
     .footer .contact-us {
       margin-top: 0;
       margin-bottom: 30px;
       padding-left: 80px; }
       .footer .contact-us .contact-info {
         margin-left: 50px; }
       .footer .contact-us.contact-us-last {
         margin-left: -80px; }
     .footer .contact-icon i {
       font-size: 24px;
       top: -15px;
       position: relative;
       color:#FA6742; }
   
   .footer-box-info {
     position: absolute;
     top: -122px;
     background-image: url(ima.jpg) ;
     padding: 40px;
     z-index: 2; }
     .footer-box-info .footer-social-link h3 {
       color: rgb(51, 7, 7);
       font-size: 24px;
       margin-bottom: 25px; }
     .footer-box-info .footer-social-link ul {
       list-style-type: none;
       padding: 0;
       margin: 0; }
     .footer-box-info .footer-social-link li {
       display: inline-block; }
     .footer-box-info .footer-social-link a i {
       display: block;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       text-align: center;
       line-height: 40px;
       margin-right: 5px;
       color: #fff; }
       .footer-box-info .footer-social-link a i.fa-facebook {
         background-color: #3B5998; }
       .footer-box-info .footer-social-link a i.fa-twitter {
         background-color: #55ACEE; }
       .footer-box-info .footer-social-link a i.fa-google-plus {
         background-color: #DD4B39; }
       .footer-box-info .footer-social-link a i.fa-linkedin {
         background-color: #0976B4; }
       .footer-box-info .footer-social-link a i.fa-instagram {
         background-color: #F5B7B1 ; }
   
   
   .footer-info-text {
     margin: 26px 0 32px; }
   
   .footer-left-widget {
     padding-left: 80px; }
   
   .footer-widget .section-heading {
     margin-bottom: 35px; }
   
   
   
   .footer-widget ul {
     width: 50%;
     float: left;
     list-style: none;
     margin: 0;
     padding: 0; }
   
   .footer-widget li {
     margin-bottom: 18px; }
   
   
   
   .footer-widget a {
     color: #878787;
    }
    
     .footer-widget a:hover {
       color: #007bff; }
   
   
   
   
     .footer-form input {
       padding: 14px 28px;
       border-radius: 50px;
       background: white;
       border: 1px solid #2E2E2E; }
   
     .footer-form button[type=submit] {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       padding: 12px 24px 12px 17px;
       border-top-right-radius: 25px;
       border-bottom-right-radius: 25px;
       border: 1px solid black;
       background: #FA6742;
    }
   
     .footer-form button:hover {
       cursor: pointer; }
   
   
   .contact-us {
     z-index: 2;
     margin-top: 65px;
     display: flex;
     align-items: center; }
   
   .contact-icon {
     position: absolute; }
     .contact-icon i {
       font-size: 36px;
       top: -5px;
    }
   
   
   
   .copyright {
     padding: 28px 0;
     margin-top: 55px;
     background-image: url(ima.jpg); }
     .copyright span,
     .copyright a {
       color:  #722F37;
   }
     .copyright a:hover {
       color:#007bff; }
   
   .copyright-menu ul {
     text-align: right;
     margin: 0; }
   
   .copyright-menu li {
     display: inline-block;
     padding-left: 20px; }
   
   .back-to-top {
   
     z-index: 2; }
     .back-to-top .btn-dark {
       width: 45px;
       height: 45px;
       border-radius: 50%;
       position: fixed;
       bottom: 15px;
       right: 20px;
       background: blue;
    }
       .back-to-top .btn-dark:hover {
         cursor: pointer;
         background: #FA6742;
    }
   .nav-item .nav-link a{
       color: black;
   }
   
   .dropbtn {
       background-color: #4CAF50;
       color: white;
       padding: 5px;
       font-size: 16px;
       width: 80px;
       height: 40px;
       border: none;
       cursor: pointer;
     }
     
     .dropdown {
       position: relative;
       display: inline-block;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       right: 0;
       background-color: #f9f9f9;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
     }
     
     .dropdown-content a {
       color: black;
       padding: 12px 12px;
       text-decoration: none;
       display: block;
     }
     
     .dropdown-content a:hover {background-color: pink;}
     
     .dropdown:hover .dropdown-content {
       display: block;
     }
     
     .dropdown:hover .dropbtn {
       background-color: #3e8e41;
      
   
     }
   
   
   
         
     .main {
       background-color: rgb(247, 218, 224);
       width: 400px;
       height: 470px;
       margin: 7em auto;
       border-radius: 2.5em;
   
   }
   
   .sign {
       padding-top: 20px;
       color: #f85989;
       font-weight: bold;
       font-size: 27px;
       margin-bottom: 0%;
   }
   
   .un {
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 5px solid rgb(231, 120, 120);
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   
   }
   
   form.form1 {
       padding-top: 40px;
   }
   
   .pass {
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 5px solid rgb(231, 120, 120);
   margin-bottom: 50px;
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   }
   
   
   .un:focus, .pass:focus {
       border: 2px solid rgba(0, 0, 0, 0.18) !important;
       
   }
   
   .submit {
     cursor: pointer;
       border-radius: 5em;
       color: #fff;
       background: linear-gradient(to right, #da2077, #eba2b4);
       border: 0;
       padding-left: 40px;
       padding-right: 40px;
       padding-bottom: 10px;
       padding-top: 10px;
       margin-left: 35%;
       font-size: 13px;
     }
   
   .forgot {
       color: #E1BEE7;
       padding-top: 15px;
   }
   
   a {
       color: #1c191d;
       text-decoration: none;
       margin-bottom: 0%;
   }
   
   
   
   .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 5px;
   }
  
  
  
  
  
  
  
  
  
  .cont_breadcrumbs {
    margin-left: 170px;
    margin-top: 66px;
    width: 500px;
  
    text-align:center;
    padding: 0px;
    list-style: none;
    font-family: 'Open Sans';
  }
  
  .cont_breadcrumbs_1 {
  
    width: 100%;
    float: left;
  
  
  }
  
  .cont_breadcrumbs_1 > ul > li {
    position: relative;
    list-style: none;
    float: left;
    transform: skewX(-15deg);  
    background-color: rgb(240, 185, 185);
  box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
  z-index: 1;
    width: 100px;
    margin-left: -50px;
  transition: all 0.5s;
  }
  
  .cont_breadcrumbs_1 > ul > li  > a {
    display: block;
    padding: 5px;
    font-size: 20px;
   transform: skewX(15deg);
   text-decoration:none;
   color: #444;
  font-weight: 300;
  }
  .cont_breadcrumbs_1 > ul > li:first-child {
   margin-left: 0px;
  }
  .cont_breadcrumbs_1 > ul > li:hover {
   background-color: #dd677a;
  }
  
  .cont_breadcrumbs_1 > ul > li:last-child {
    background-color: #861c2a;
  }
  
  .cont_breadcrumbs_1 > ul > li:last-child > a {
    color: #fff;;
  }
  
  
  .cont_breadcrumbs_1 > ul:hover > li {
    margin-left: 0px;
  }


  html {
    scroll-behavior: smooth;
  }
  