body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-size: 16px;
    color:white;
}

   .animate-border {
  display: block;
  width: 155px;
  height: 5px;
  background: #FA6742; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 5px;
  border-left: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }





.footer {
  padding: 75px 0 0;
  background-color:  #722F37;
  position: relative;
  z-index: 2; }
  .footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .footer .contact-us .contact-info {
      margin-left: 50px; }
    .footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#FA6742; }

.footer-box-info {
  position: absolute;
  top: -122px;
  background-image: url(ima.jpg) ;
  padding: 40px;
  z-index: 2; }
  .footer-box-info .footer-social-link h3 {
    color: rgb(51, 7, 7);
    font-size: 24px;
    margin-bottom: 25px; }
  .footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .footer-box-info .footer-social-link li {
    display: inline-block; }
  .footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    color: #fff; }
    .footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #F5B7B1 ; }


.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }



.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }



.footer-widget a {
  color: #878787;
 }
 
  .footer-widget a:hover {
    color: #007bff; }




  .footer-form input {
    padding: 14px 28px;
    border-radius: 50px;
    background: white;
    border: 1px solid #2E2E2E; }

  .footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid black;
    background: #FA6742;
 }

  .footer-form button:hover {
    cursor: pointer; }


.contact-us {
  z-index: 2;
  margin-top: 65px;
  display: flex;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
 }



.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-image: url(ima.jpg); }
  .copyright span,
  .copyright a {
    color:  #722F37;
}
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

  .navbar {
    background-color: #722F37;
    
 
 }
 .navbar .nav-item .nav-link {
     color:pink;
 }
 button#butt{
    background-color:pink;
    color: rgb(34, 18, 20);
}
button#butt:hover{
    background-color: rgba(184, 54, 76, 0.37);
}
.nav-item .nav-link a{
    color: black;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: pink;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
   

  }
  .jumbotron{
    background-image: url(per.jpg);
    height: 100vh;
    padding-top: 90px;
   

    
      
      

  }
 
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  .card-body .mb-3 .form-control#exampleFormControlTextarea1{
     height: 800px;
     background-color: pink;

  }
  .card-body .mb-3 .form-control#exampleFormControlInput1{
   
    background-color: pink;

 }
body{
    background-image: url(per.jpg);
    text-align: center;
    color:#fff;
    padding-top:10em;
}
